*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #4EA0FF;
    background-image: url('../img/pattern.png');
    background-size: 20%;
    padding-top: 30px;
    
}

header img{
    height: 80px;
}

.container{
    width: 80%;
    margin: auto;
}

.title{
    font-size: 50px;
    padding-top: 20px;
}

h3{
    color: #B2B2B2;
    font-size: 20px;
}

h4{
    color: #B2B2B2;
    font-size: 15px;
}

#author{
    color: #73C9EF;
    font-size: 20px;
}

.container-foto{
    margin: 20px 0;
}


#tim-pic1{
    width: 700px;
}

#tim-pic2{
    width: 595px;
}



.container-section{
    margin: 40px 0;
}

.section-1{
    font-size: 20px;
    
}

.mark-1{
    background-color: #FFFF00;
}

li{
    font-size: 20px;
}

.container-ul{
    margin: 0 20px;
}


.container-table{
    margin: 40px 0;
}

table{
    border-spacing: 0;
    width: 90%;
}

thead{
    background-color: #1F9DD4;
}

.th1, .th2, .th3 {
    text-align: left;
    color: white;
}


.left-column{
    width: 20%;
    background-color: #73C9EF;
    
}

.central-column{
    width: 20px;
    background-color: #73C9EF;
    
}

.right-column{
    width: 60%;
    background-color: #73C9EF;
}

.footer-text{
    font-size: 20px;
    color: grey;
    font-weight: bold;
    margin: 0px 190px;
}


.container-footer-img1{
    width: 312px;
    height: 208px;
    background-image: url('../img/monitor.jpg');
    margin: 0 190px;
    margin-top: 15px;
    color: #f3f3f3;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
}

.container-footer-img2{
    width: 311px;
    height: 207px;
    background-image: url('../img/graph.jpg');
    margin: 0 190px;
    margin-top: 20px;
    color: #f3f3f3;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
}


